---
---
<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="stylesheet" src="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Open+Sans' rel='stylesheet' type='text/css'>
    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>

<body>
    <div id="main" class="o-wrapper">
    
        <nav>
            <ul>
                {% for node in site.posts reverse %}
                    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
                    <li><a href="#{{id}}"><{{node.title}}</a></li>
                <% endfor %}
            </ul>
        </nav>

        {% for page in site.posts reversed %}
            {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
            <section id="{{id}}">
                <div class="o-wrapper {{page.style}}">
                    {{ page.content }}
                </div>
            </section>
        {% endfor %}


        <footer id="footer">
        </footer>
    </div> <!-- main -->
</body>
</html>
