<div class="c-contact-info">
      <ul class="list-inline o-layout o-layout--auto">
        <li class="o-layout__item u-1/2-up-to-handheld--large"><a href="tel:{{ site.data.contact-info.telephone }}" class="icon-text"><span class="icon-text__icon i-telephone"></span>{{ site.data.contact-info.telephone }}</a></li><!--
        --><li class="o-layout__item u-1/2-up-to-handheld--large"><a href="tel:{{ site.data.contact-info.mobile }}" class="icon-text"><span class="icon-text__icon i-mobile"></span>{{ site.data.contact-info.mobile }}</a></li><!--
        --><li class="o-layout__item u-1/1-handheld u-1/2-handheld--large"><a href="tel:{{ site.data.contact-info.email }}" class="icon-text"><span class="icon-text__icon i-email"></span>{{ site.data.contact-info.email }}</a></li><!--
        --><li class="o-layout__item u-1/1-handheld u-1/2-handheld--large">
          <a href="https://www.google.es/maps/place/Carrer+del+Convent+de+Santa+Clara,+9,+46002+Val%C3%A8ncia,+Valencia/@39.4682113,-0.3783852,17z/data=!3m1!4b1!4m5!3m4!1s0xd604f4b19b1865d:0x1cddc15abf8207b2!8m2!3d39.4682113!4d-0.3761965" class="icon-text"><span class="icon-text__icon i-pin"></span>{{ site.data.contact-info.address }}</a>
        </li>
      </ul>
</div> <!-- contact-info -->
<footer id="footer">
    <p>AMontero Abogados © 2016</p>
</footer>
