<header>
    <div class="c-contact-info">
      <ul class="list-inline">
        <li class="u-1/2"><a href="tel:{{ site.data.contact-info.telephone }}" class="icon-text"><span class="icon-text__icon i-telephone"></span>{{ site.data.contact-info.telephone }}</a></li><!--
        --><li class="u-1/2"><a href="tel:{{ site.data.contact-info.mobile }}" class="icon-text"><span class="icon-text__icon i-mobile"></span>{{ site.data.contact-info.mobile }}</a></li><!--
        --><li class="u-4/5"><a href="tel:{{ site.data.contact-info.email }}" class="icon-text"><span class="icon-text__icon i-email"></span>{{ site.data.contact-info.email }}</a></li><!--
        --><li class="u-1/5">
          {% assign pages=site.pages | where:"ref",page.ref | sort:'lang' %}
          {% for pagina in pages %}
            {% unless pagina.lang == page.lang %}
            <a href="{{pagina.url}}" class="{{ pagina.lang }} icon-text"><span class="icon-text__icon i-flag"></span>{{ pagina.lang }}</a>
            {% endunless %}
          {% endfor %}
        </li>
      </ul>
    </div> <!-- contact-info -->

    <div class="c-navigation">
      <h1 class="logo u-3/5"><a href="{{ site.url }}/{{ site.index[page.lang] }}"><img src="{{ site.url }}/img/logo.png"></a></h1><!--
      --><button id="js-menu-toggle" class="menu-toggle u-2/5 icon-text icon-text--rev">MENU<span class="icon-text__icon i-menu"></span></button>
    <nav>
      <ul class="list-ui list-ui--small">
      {% assign posts=site.posts | where:"lang",page.lang %}
      {% for post in posts reversed %}
        <li class="p-{{post.ref}} list-ui__item"><a href="#{{post.ref}}">{{post.title}}</a></li>
      {% endfor %}
    </ul></nav>
    </div> <!-- navigation -->
    
    {% assign posts=site.posts | where:"lang",page.lang %}
    {% for post in posts %}
      {% if post.title == 'Quienes Somos' or post.title == 'Who We Are' %}
      <section id="{{post.ref}}">
        <div class="o-wrapper">
          {{ post.content }}
        </div>
      </section>
      {% endif %}
    {% endfor %}
      
</header>
        
