<header>
    <div class="c-contact-info">
        <p>tlf</p>
        <p>mobile</p>
        <p>email</p>
    </div> <!-- contact-info -->

    <div class="c-language">
      <a href="/en/">English</a>
    </div> <!-- language -->

    <div class="c-navigation">
        <h1><a href="{{ site.baseurl }}"><img src="assets/logo.png"></a></h1>
    <nav><ul>
      {% for post in site.posts reversed %}
        <li class="p-{{post.filename}}"><a href="#{{post.filename}}">{{post.title}}</a></li>
      {% endfor %}
    </ul></nav>
    </div> <!-- navigation -->
</header>
        
