header {
 color: #fff;
  .c-header-section {
      }
  li {
    padding: $inuit-base-spacing-unit--small;
    @include inuit-font-size(14px);
  }
  > section {
    background: none;
  }
}

.c-header-section {
  border-top: $inuit-base-spacing-unit solid #E9F2F1;
  border-bottom: 2px solid #F3005C;
  padding: $inuit-base-spacing-unit--tiny 0;
}
