.c-navigation {
  text-align: center;
  height: 80px;
  width: 100%;
  /*transition: height 0.3s ease-out;*/
  img {
    height: 80px;
    transition: height 0.3s ease-out;
  }
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
    img {
      height: 60px;
    }
  }
  .c-navigation__item {
    background-color: #fff;
    &.c-nav-header {
      position: relative;
      z-index: 1000;
    }
  }
}
.logo, .menu-toggle {
  display: inline-block;
  color: $inuit-base-text-color;
  margin-bottom: 0;
  background-color: #fff;
}
.logo {
  text-align: left;
}
.menu-toggle {
  background: none;
  border: none;
  outline: none;
  span {
    margin: -4px 0 0 4px;
  }
}

.nav-mobile {
  width: 100%;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
  will-change: transform;
  transform: translateY(-200px);
  transition: transform 0.5s ease;
}


