label, input, textarea {
  display: block;
  width: 100%;
}

label {
  @include inuit-font-size(14px);
}

input, textarea {
  border: 1px solid darken($inuit-gray-brand-color, 10%);
  border-radius: 2px;
  padding: $inuit-base-spacing-unit--tiny;
  margin-bottom: $inuit-base-spacing-unit--small;
}

