.c-navigation {
  background-color: #fff;
  text-align: center;
}
.logo, .menu-toggle {
  display: inline-block;
  color: $inuit-base-text-color;
  margin-bottom: 0;
}
.menu-toggle {
  background: none;
  border: none;
  outline: none;
  span {
    margin: -4px 0 0 4px;
  }
}

