.c-navigation {
  text-align: center;
  width: 100%;
  img {
    height: 80px;
    transition: height 0.3s ease-out;
  }
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
    background: #fff;
    img {
      height: 60px;
    }
    a {
      color: $inuit-base-text-color;
      &:hover {
        color: $inuit-brand-color;
      }
    }
  }
  .c-navigation__item {
    background: #fff;
    @include media-query(lap-and-up--alt) {
      background: none; 
    }
    &.c-nav-header {
      position: relative;
      z-index: 1000;
    }
  }
}
.logo, .menu-toggle {
  display: inline-block;
  color: $inuit-base-text-color;
  margin-bottom: 0;
}
.logo {
  text-align: left;
}
.menu-toggle {
  background: none;
  border: none;
  outline: none;
  text-align: right;
  padding-right: $inuit-base-spacing-unit--small;
  span {
    margin: -4px 0 0 4px;
  }
  @include media-query(lap-and-up--alt) {
    display: none;
  }
}

.nav-mobile {
  width: 100%;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
  will-change: transform;
  transform: translateY(-200px);
  transition: transform 0.5s ease;
  @include media-query(lap-and-up--alt) {
    display: none;
  }
}

.nav-desk {
  display: none;
  text-align: right;
  @include media-query(lap-and-up--alt) {
    display: inline-block;
  }
  a {
    color:  #fff;
    &:hover {
      color: $inuit-brand-color;
    }
  }
}
