.c-contact-info {
  position: relative;
  z-index: 1000;
  background-color: $inuit-gray-brand-color; 
  li {
    padding: $inuit-base-spacing-unit--small;
    @include inuit-font-size(14px);
    text-align: center;
    &:last-child {
      @include media-query(handheld-and-up) {
        float: right;
      }
    }
  }
}
