/*------------------------------------*\
    $ICON-TEXT
\*------------------------------------*/
/**
 * For text-links etc that have an icon with them. Sometimes whitespace would
 * suffice in creating a gap between the icon and text, for example:
 *
   <a href=#>
       <i class="s  s--help"></i> Help &amp; support
   </a>
 *
 * However we will sometimes want a larger, explicity set gap:
   <a href=# class=icon-text>
       <i class="icon-text__icon  s  s--help"></i>Help &amp; support
   </a>
 *
 * Demo: jsfiddle.net/inuitcss/Q6Lbf
 *
 */
.icon-text > .icon-text__icon{
    margin-right:$inuit-base-spacing-unit--small / 3;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}


/**
 * We can also reverse the direction of the margin for icons that appear to the
 * right of the text content, thus:
 *
   <a href=# class=icon-text--rev>
       Help &amp; support<i class="icon-text__icon  s  s--help"></i>
   </a>
 *
 */
.icon-text--rev > .icon-text__icon{
    margin-left:$inuit-base-spacing-unit--small / 2;
}


.i-telephone { 
  background-image: url('../img/i-telephone.png'); 
  background-image: url('../img/i-telephone.svg'),
                    linear-gradient(transparent, transparent); 
}
.i-mobile { 
  background-image: url('../img/i-mobile.png'); 
  background-image: url('../img/i-mobile.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-email { 
  background-image: url('../img/i-email.png'); 
  background-image: url('../img/i-email.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-flag { 
  background-image: url('../img/i-flag.png'); 
  background-image: url('../img/i-flag.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-flag--es {
  background-image: url('../img/flag/es.png'); 
  background-image: url('../img/flag/es.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-flag--en {
  background-image: url('../img/flag/en.png'); 
  background-image: url('../img/flag/en.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-flag--tr {
  background-image: url('../img/flag/tr.png'); 
  background-image: url('../img/flag/tr.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-menu { 
  background-image: url('../img/i-menu.png'); 
  background-image: url('../img/i-menu.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-menu-close { 
  background-image: url('../img/i-menu-close.png'); 
  background-image: url('../img/i-menu-close.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-pin { 
  background-image: url('../img/i-pin.png'); 
  background-image: url('../img/i-pin.svg'), 
                    linear-gradient(transparent, transparent); 
}
.i-skype {
  background-image: url('../img/i-skype.png');
  background-image: url('../img/i-skype.svg'),
                    linear-gradient(transparent, transparent);
}
