<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}

    <body>

        {% include header.html %}

        <main>
        
          {% assign posts=site.posts | where:"lang",page.lang %}
          {% for post in posts reversed %}
            <section id="{{post.filename}}">
              <div class="o-wrapper">
                {{ post.content }}
              </div>
            </section>
          {% endfor %}

        </main>

        {% include footer.html %}
    </body>
</html>
