<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}

    <body>

        {% include header.html %}

        <main>
        
          {% assign posts=site.posts | where:"lang",page.lang %}
          {% for post in posts reversed %}
            {% unless post.title == 'El Despacho' or post.title == 'Who We Are' %}
            <section id="{{post.filename}}">
              <div class="o-wrapper">
                {{ post.content }}
              </div>
            </section>
            {% endunless %}
          {% endfor %}

        </main>

        {% include footer.html %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpusu5AJ1szTR1btzKFIn7AyAlgAcb-s"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
